ul{
    list-style-type: none;
    margin:0;
    padding: 16px;
    overflow: hidden;
    background-color: rgb(13, 12, 13);
}
h1{
    float:left;
    padding:0;
    color:white;
    display: flex;
    margin: 5px;
}

li{
    float:right;
}
li a{
    display: block;
    color:purple;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: rgb(53, 30, 53);
}
#indexbutton{
	background-color: white; 
	border: 2px solid purple;
    padding: 24px 40px;
    text-align: center;
    display: inline-block;
    border-radius: 60px;
  }
  #indexbutton:hover{
    background-color:gold;
  }
  a:link, a:visited {
	text-decoration: none;
	color:purple;
	font-family: fantasy;
  }