ul{
    list-style-type: none;
    margin:0;
    padding: 16px;
    overflow: hidden;
    background-color: rgb(13, 12, 13);
}
h1{
    float:left;
    padding:0;
    color:white;
    display: flex;
    margin: 5px;
}

li{
    float:right;
}
li a{
    display: block;
    color:purple;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: rgb(53, 30, 53);
}
a:link, a:visited {
	text-decoration: none;
	color:purple;
	font-family: fantasy;
  }


.dropbtn {
    background-color: purple;
    color: white;
    padding: 16px 32px;
    font-size: 16px;
    font-family: fantasy;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
.trackermenu {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
.menucontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .menucontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .menucontent a:hover {background-color: rgb(196, 151, 196)}
  
  /* Show the dropdown menu on hover */
  .trackermenu:hover .menucontent {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .trackermenu:hover .dropbtn {
    background-color: rgb(101, 12, 101);
  }


